[user]
name = "Harrison Hall"
email = "hachha@hachha.dev"

[aliases]
push-force = []
stash-all = []
branch-list = []
log-bookmark = ["log", "-T", "builtin_log_detailed", "-r", "..@"]
log-all = ["log", "-r", "@ | ancestors(immutable_heads().., 2) | heads(immutable_heads())"]

[ui]
default-command = "log-bookmark"
# default-revset = "@ | ancestors(immutable_heads().., 2) | heads(immutable_heads())"
editor = "hx"
conflict-marker-style = "git"

merge-editor = "mergiraf"
diff-formatter = ["delta"]

[merge-tools.difft]
diff-args = ["--color=always", "$left", "$right"]

# [ui.diff-formatter]
# tool = ["delta"]
# format = "git"

# [git]
# subprocess = true
