[Desktop Entry]
Name=Helix w/ Term
GenericName=Text Editor
Comment=Basic text editor
TryExec=hx
Exec=wezterm start --always-new-process -- hx %F
Terminal=true
Type=Application
Keywords=Text;editor;
Icon=helix
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
