# slipstream configuration.

freq = "5min"
workers = 8
timezone = "local"
log = "/tmp/slipstream.log"
storage = 4096
database = "./slip.db"

# Here are the feeds I tend to care about:
# - /all (everything)
# - /tag/fun (fun things)
# - /tag/gaming (game things)
# - /tag/gov (gov things)
# - /feed/dont-miss (can't miss these!)

# Settings that apply to **everything**.
[global]
user-agent = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36"

[global.filters]
exclude-title-words = [
  "sport",
  "nfl",
  "#shorts",
  "llm",
  "llms",
  "doge",
]
exclude-substrings = [
  "sport",
  "soccer",
  "サッカー",
  "football",
  "フットボール",
  "basketball",
  "バスケットボール",
  "trump",
  "トランプ",
  "musk",
  "イーロン",
]

[global.options]
# Maximum feeds returned, something sane.
max = 512
# Oldest entry returned.
oldest = "1month"
# Default feed update frequency.
freq = "2hrs"

[serve]

# Settings that apply to the all feed.
[serve.all]
max = 256

[serve.all.filters]
exclude-tags = ["satire", "social"]

# Feed definitions and settings.
[feeds]

## News

[feeds.guardian-us]
url = "https://www.theguardian.com/us/rss"
tags = ["news"]

[feeds.npr-national]
url = "https://feeds.npr.org/1003/rss.xml"
tags = ["news"]
exclude-content-words = ["trump", "biden"]
exclude-substrings = ["morning news brief"]

[feeds.npr-world]
url = "https://feeds.npr.org/1004/rss.xml"
tags = ["news"]
exclude-content-words = ["trump", "biden"]
exclude-substrings = ["morning news brief"]

[feeds.conversation-politics]
url = "https://theconversation.com/us/politics/articles.atom"
tags = ["news"]

[feeds.japan-times]
url = "https://www.japantimes.co.jp/news/feed/"
tags = ["news", "japanese"]

[feeds.asahi-shimbun-headlines]
# More feeds: https://www.asahi.com/information/service/rss.html
url = "https://www.asahi.com/rss/asahi/newsheadlines.rdf"
tags = ["news", "japanese"]
max = 5

[feeds.nhk]
# More feeds: https://www.nhk.or.jp/toppage/rss/index.html
url = "https://www3.nhk.or.jp/rss/news/cat0.xml"
tags = ["news", "japanese"]
max = 5

[feeds.associated-press]
url = "https://news.google.com/rss/search?q=when:24h+allinurl:apnews.com&hl=en-US&gl=US&ceid=US:en"
tags = ["news"]

[feeds.bbc]
url = "https://feeds.bbci.co.uk/news/rss.xml"
tags = ["news"]
exclude-substrings = ["newscast"]

[feeds.aeon]
url = "https://aeon.co/feed.atom"
tags = ["news", "essays"]

## Hacking

[feeds.hackernews]
url = "https://news.ycombinator.com/rss"
tags = ["hacking"]
exclude-title-words = ["ai", "hiring", "fun"]

[feeds.ziglang]
url = "https://ziglang.org/devlog/index.xml"
tags = ["hacking", "zig"]

[feeds.lobsters]
url = "https://lobste.rs/rss"
tags = ["hacking", "fun"]
exclude-title-words = ["llm", "ai", "hiring"]

[feeds.importai]
url = "https://jack-clark.net/feed/"
tags = ["ai"]

[feeds.tldr]
url = "https://tldr.tech/api/rss/tech"
tags = ["tldr", "news", "tech"]

[feeds.tldr-design]
url = "https://tldr.tech/api/rss/design"
tags = ["tldr", "design"]

[feeds.tldr-devops]
url = "https://tldr.tech/api/rss/devops"
tags = ["tldr", "hacking"]

[feeds.tldr-infosec]
url = "https://tldr.tech/api/rss/infosec"
tags = ["tldr", "hacking", "security"]

# [feeds.infosecurity-magazine]
# url = "https://www.infosecurity-magazine.com/rss/news/"
# tags = ["hacking", "security"]

[feeds.suckless]
url = "http://suckless.org/atom.xml"
tags = ["hacking", "releases"]

[feeds.terminal-trove]
url = "https://terminaltrove.com/blog.xml"
tags = ["hacking", "fun"]

[feeds.ai-robots-txt]
url = "https://github.com/ai-robots-txt/ai.robots.txt/releases.atom"
tags = ["hacking", "ai"]

[feeds.utopia-css]
url = "https://utopia.fyi/feed.xml"
tags = ["hacking", "releases"]

[feeds.scientific-computing-rs]
url = "https://scientificcomputing.rs/monthly/rss.xml"
tags = ["hacking", "science"]

[feeds.iroh]
url = "https://www.iroh.computer/rss.xml"
tags = ["hacking", "rust"]

## Hacking blogs

[feeds.hachha]
url = "https://hachha.dev/blog.feed"
tags = ["blog", "hacking"]

[feeds.old-new-thing]
url = "https://devblogs.microsoft.com/oldnewthing/feed"
tags = ["blog", "hacking"]

[feeds.bennett-meares]
url = "https://bmeares.com/rss/"
tags = ["blog", "hacking"]

[feeds.dave-heinamann]
url = "https://dheinemann.com/atom/"
tags = ["blog", "hacking"]

[feeds.lucidity]
url = "https://ludic.mataroa.blog/rss/"
tags = ["blog", "hacking"]

[feeds.without-boats]
url = "https://without.boats/index.xml"
tags = ["blog", "hacking"]

[feeds.underjord]
url = "https://underjord.io/feed.xml"
tags = ["blog", "hacking"]

[feeds.matthew-strom]
url = "https://matthewstrom.com/feed.xml"
tags = ["blog", "design"]

[feeds.ntietz]
url = "https://www.ntietz.com/atom.xml"
tags = ["blog", "hacking"]

[feeds.matklad]
url = "https://matklad.github.io/feed.xml"
tags = ["blog", "hacking"]

[feeds.slightknack]
url = "https://slightknack.dev/atom.xml"
tags = ["blog", "hacking"]

[feeds.mitchellh]
url = "https://mitchellh.com/feed.xml"
tags = ["blog", "hacking"]

[feeds.erikarow]
url = "https://erikarow.land/combined.xml"
tags = ["blog", "hacking"]

[feeds.elly-town]
url = "https://elly.town/feed.xml"
tags = ["blog", "hacking"]

[feeds.skull]
url = "https://brutecat.com/rss.xml"
tags = ["blog", "hacking", "security"]

[feeds.rubenerd]
url = "https://rubenerd.com/feed/"
tags = ["blog", "hacking"]

[feeds.loris-cro]
url = "https://kristoff.it/index.xml"
tags = ["blog", "hacking", "zig"]

[feeds.abhinavsarkar]
url = "https://notes.abhinavsarkar.net/feed.atom"
tags = ["blog", "hacking"]

[feeds.tekhne]
url = "https://tekhne.dev/feed/"
tags = ["blog", "hacking"]

[feeds.matt-knight]
url = "https://mattnite.net/rss.xml"
tags = ["blog", "hacking"]

[feeds.steve-klabnik]
url = "https://steveklabnik.com/feed.xml"
tags = ["blog", "hacking"]

[feeds.rain-sunshowers]
url = "https://sunshowers.io/atom.xml"
tags = ["blog", "hacking"]

[feeds.abner]
url = "https://abner.page/index.xml"
tags = ["blog", "hacking"]

[feeds.elles-home]
url = "https://ellesho.me/page/rss.xml"
tags = ["blog", "hacking"]

[feeds.elles-readings]
url = "https://bg.raindrop.io/rss/public/51278376"
tags = ["aggregate", "fun"]

## Technology

[feeds.guardian-technology]
url = "https://www.theguardian.com/us/technology/rss"
tags = ["news", "science", "technology"]

[feeds.verge]
url = "https://www.theverge.com/rss/index.xml"
tags = ["tech"]
exclude-title-words = ["ai", "llm", "fun"]
exclude-tags = ["prime", "amazon", "deals", "smart home", "buying guide", "gift guide", "verge video", "cast"]

[feeds.conversation-science-tech]
url = "https://theconversation.com/us/technology/articles.atom"
tags = ["news", "science"]

[feeds.ink-and-switch]
url = "https://www.inkandswitch.com/index.xml"
tags = ["blog", "hacking"]

[feeds.lets-encrypt]
url = "https://letsencrypt.org/feed.xml"
tags = ["blog", "hacking"]

## Japanese

[feeds.matcha]
url = "https://matcha-jp.com/easy/feed"
tags = ["japanese"]

[feeds.nhk-easier]
url = "https://nhkeasier.com/feed/"
tags = ["japanese", "news"]

## Environment & science

[feeds.guardian-environment]
url = "https://www.theguardian.com/us/environment/rss"
tags = ["news"]

[feeds.guardian-science]
url = "https://www.theguardian.com/science/rss"
tags = ["news", "science"]

[feeds.npr-science]
url = "https://feeds.npr.org/1007/rss.xml"
tags = ["news", "science"]

[feeds.npr-climate]
url = "https://feeds.npr.org/1167/rss.xml"
tags = ["news", "science"]

[feeds.inside-climate-news]
url = "https://insideclimatenews.org/feed"
tags = ["news", "science"]

[feeds.nasa-breaking-news]
url = "http://nasa.gov/rss/dyn/breaking_news.rss"
tags = ["news", "science"]

[feeds.talking-climate]
url = "https://www.talkingclimate.ca/feed"
tags = ["news", "science"]

[feeds.conversation-environment-energy]
url = "https://theconversation.com/us/environment/articles.atom"
tags = ["news", "science"]

[feeds.matt-strassler]
url = "https://profmattstrassler.com/feed/"
tags = ["science"]

## Gaming

[feeds.two-stop-bits]
url = "https://twostopbits.com/rss"
tags = ["gaming"]

[feeds.game-dev-city]
url = "http://gamedev.city/rss"
tags = ["hacking", "gaming"]

[feeds.rust-gamedev-wg]
url = "https://gamedev.rs/rss.xml"
tags = ["hacking", "gaming"]

[feeds.itchio-featured]
url = "https://itch.io/feed/featured.xml"
tags = ["gaming", "fun"]

[feeds.gaming-on-linux]
url = "https://www.gamingonlinux.com/article_rss.php"
tags = ["gaming"]

## Comics

[feeds.xkcd]
url = "https://xkcd.com/rss.xml"
tags = ["comics", "fun"]

[feeds.khyleri]
url = "https://www.reddit.com/r/Khyleri/new.rss"
tags = ["comics", "fun"]

[feeds.calvin-and-hobbes]
url = "https://www.comicsrss.com/rss/calvinandhobbes.rss"
tags = ["comics", "fun"]

[feeds.chainsaw-man]
url = "https://sjapi.up.railway.app/rss/chainsaw-man.xml"
tags = ["comics", "fun", "japanese", "manga"]

## Positive News

[feeds.goodgoodgood]
url = "https://www.goodgoodgood.co/articles/rss.xml"
tags = ["news", "positive"]

[feeds.positive-news]
url = "http://positive.news/rss"
tags = ["news", "positive"]

## Government

[feeds.usa-bills]
url = "https://www.govinfo.gov/rss/bills.xml"
tags = ["gov"]

[feeds.usa-federal-budget]
url = "https://www.govinfo.gov/rss/budget.xml"
tags = ["gov"]

[feeds.sec]
url = "https://www.sec.gov/news/pressreleases.rss"
tags = ["gov", "sec"]

## Other blogs

[feeds.brandon-sanderson]
url = "https://www.brandonsanderson.com/blogs/blog/tagged/state-of-the-sanderson.atom"
tags = ["blog", "reading", "fun"]

[feeds.lmnt]
url = "https://lmnt.me/feed.xml"
tags = ["blog", "fun"]

[feeds.jt-woodhouse]
url = "https://www.jtwoodhouse.com/rss/"
tags = ["blog", "reading"]

[feeds.fuse]
url = "https://api.syosetu.com/writer/311735.Atom"
tags = ["blog", "reading", "fun"]

## Stories

[feeds.gorogoromikan]
url = "https://api.syosetu.com/writernovel/773478.Atom"
tags = ["reading", "fun", "japanese"]

## Link blogs

[feeds.hachha-links]
url = "https://hachha.dev/links.feed"
tags = ["blog", "links"]

## Entertainment

[feeds.the-onion]
url = "https://theonion.com/feed/"
tags = ["fun", "satire"]

[feeds.simpleflips]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCiYpKsB66LZsk7s4yhxJqlQ"
tags = ["gaming", "video", "fun"]

[feeds.simpleflips-full]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCydmoF3pPpijDuFMvTaQIZw"
tags = ["gaming", "video", "fun"]

[feeds.solidjj]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCEq_Dr1GHvnNPQNfgOzhZ8Q"
tags = ["video", "fun"]

[feeds.dunkey]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCsvn_Po0SmunchJYOWpOxMg"
tags = ["gaming", "video", "fun"]

[feeds.kurzgesagt]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCsXVk37bltHxD1rDPwtNM8Q"
tags = ["video", "fun"]

[feeds.hbomberguy]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UClt01z1wHHT7c5lKcU8pxRQ"
tags = ["video", "notify", "fun"]

[feeds.clustermint]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCPQGGTbdmv0AsE1XARaOAVA"
tags = ["gaming", "video", "fun"]

[feeds.asahilina-yt]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCwkfNQzKwICfPKs6V0ZUFZQ"
tags = ["hacking", "video", "fun"]

[feeds.warowl]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCpFcHE36IoySjYj1Rytxyog"
tags = ["gaming", "video", "fun"]

[feeds.ign-reviews]
url = "http://feeds.feedburner.com/ign/reviews"
tags = ["gaming"]

[feeds.ign-tech]
url = "http://feeds.feedburner.com/ign/tech-articles"
tags = ["tech", "gaming"]

[feeds.ign-comics]
url = "https://feeds.feedburner.com/ign/comics-articles"
tags = ["gaming", "comics"]

[feeds.not-just-bikes]
url = "https://rss.nebula.app/video/channels/notjustbikes.rss"
tags = ["video"]

[feeds.gmtk]
url = "https://rss.nebula.app/video/channels/gmtk.rss"
tags = ["video", "gaming", "fun"]

[feeds.yuka-chan]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCaYX_KdvYlylMr2wZ03DMfA"
tags = ["video", "japanese", "fun"]

[feeds.3b1b]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCYO_jab_esuFRV4b17AJtAw"
tags = ["video", "math"]

[feeds.no-boilerplate]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCUMwY9iS8oMyWDYIe6_RmoA"
tags = ["video", "hacking"]

[feeds.equalyze]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCg6bOX5kiEvLxY5GXoSvEGg"
tags = ["video", "music", "gaming"]

[feeds.qumu]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UC0QbcOX2gI5zruEvpSmnf6Q"
tags = ["video", "music", "gaming"]

[feeds.cheese-parade]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCQ1aOToWpOdaIj1784_5M0g"
tags = ["video", "fun"]

[feeds.bobby-ivar]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCETZ4AkABYwBRzpWBJ33KUw"
tags = ["video", "gaming", "fun"]

[feeds.chris-and-jack]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UC3Liv5-jdU2Qk53lTtYDG2w"
tags = ["video", "fun"]
must-include-substrings = ["Chris & Jack"] # Ignore shorts

[feeds.funke]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCd-qVRcjoK9zjtDs_LRxSmw"
tags = ["video", "gaming", "fun"]

[feeds.dogen]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UCSX0NhNdBA-ZnEFkYFzdw4A"
tags = ["video", "japanese", "fun"]

[feeds.sakurai-on-creating-games]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UC5CTV3JSdrlo5Pa42QkK8SA"
tags = ["video", "japanese", "gaming", "fun"]

[feeds.scott-the-woz]
url = "https://www.youtube.com/feeds/videos.xml?channel_id=UC4rqhyiTs7XyuODcECvuiiQ"
tags = ["video", "gaming", "fun"]


## Social feeds

[feeds.mastodon]
mastodon = "https://mastodon.social"
type = "home-timeline"
token = "jq7OF0HyUcRlzzwlKSMRLfeP2CSSJFh29w5zeBnq8D8"
tags = ["social", "mastodon"]
freq = "15min"


## Common aggregates

[feeds.dont-miss]
tags = ["dont-miss"]
feeds = [
  ## Hacking
  "hachha",
  "bennett-meares",
  "ziglang",
  "without-boats",
  "underjord",
  "matklad",
  ## Reading
  "brandon-sanderson",
  "jt-woodhouse",
  "fuse",
  "gorogoromikan",
  ## Comics
  "xkcd",
  "khyleri",
  "calvin-and-hobbes",
  "chainsaw-man",
  ## Entertainment
  "simpleflips",
  "dunkey",
  "hbomberguy",
  "not-just-bikes",
  "solidjj",
  "no-boilerplate",
  "bobby-ivar",
  "chris-and-jack",
  "funke",
  "dogen",
  "cheese-parade",
]
