# slipreader configuration.

freq = "2min"
workers = 2
timezone = "est"
log = "/tmp/slipreader.log"
storage = 4096
database = "~/.cache/slipstream/slip.db"

# Settings that apply to **everything**.
[global]

[global.filters]
exclude-title-words = [
]
exclude-substrings = [
]

[global.options]
# Maximum feeds returned, something sane.
max = 512
# Oldest entry returned.
oldest = "1month"
# Default feed update frequency.
freq = "10min"

# Settings that apply to the all feed.
[all]

[all.filters]
exclude-tags = []

# Feed definitions and settings.
[feeds]

[feeds.news]
url = "https://feeds.hachha.dev/all/feed"
tags = ["hachha"]
freq = "90s"

[feeds.social]
url = "https://feeds.hachha.dev/tag/social/feed"
freq = "90s"

[read]
scroll = 1
scroll_buffer = 6
initial-search = "--not-tag hidden"

[read.tags]
hidden = ["unread", "important"]

[[read.tags.colors]]
tag = "unread"
color = { fg = "yellow" }

[[read.tags.colors]]
tag = "news"
color = { fg = "green" }

[[read.tags.colors]]
tag = "gov"
color = { fg = "bright-magenta" }

[[read.tags.colors]]
tag = "hacking"
color = { underline = "light-cyan" }

[[read.tags.colors]]
tag = "blog"
color = { underline = "light-green" }

[[read.tags.colors]]
tag = "gaming"
color = { fg = "light-blue" }

[[read.tags.colors]]
tag = "japanese"
color = { underline = "red" }

[[read.tags.colors]]
tag = "fun"
color = { bg = "light-magenta", fg = "black" }

[[read.tags.colors]]
tag = "satire"
color = { bg = "yellow", fg = "black" }

[[read.tags.colors]]
tag = "comics"
color = { bg = "magenta", fg = "black" }

[[read.tags.colors]]
tag = "reading"
color = { bg = "magenta", fg = "black" }

[[read.tags.colors]]
tag = "social"
color = { fg = "black", bg = "cyan" }

[[read.tags.colors]]
tag = "dont-miss"
color = { bg = "blue", fg = "black" }

[[read.tags.colors]]
tag = "important"
color = { bg = "red", fg = "black" }

[[read.tags.colors]]
tag = "archive"
color = { fg = "cyan", bg = "light-red" }

[[read.tags.colors]]
tag = "read-later"
color = { fg = "black", bg = "bright-blue" }

[read.hooks]
fetch = []
insert = [":add-tag unread"]
read = [":remove-tag unread"]

[read.bindings]
C-d = "page-down"
C-u = "page-up"
S-l = "next"
S-h = "prev"
up = "up"
down = "down"
left = "left"
right = "right"

# Important:
i = ":toggle-tag important"
S-i = ":search --tag important"
C-i = "noop"

# Read:
r = ":toggle-tag read-later"
S-r = ":search --tag read-later"
C-r = "!read"

# Archive:
a = ":toggle-tag archive"
S-a = ":search --command archive"
C-a = "!archive"

# Open:
o = "!open"
S-o = "!open-2"
C-o = "noop"

# Update:
0 = "update"
u = ":search --not-tag hidden"
S-u = ":search -t unread"
# C-u = "noop"  # Used for page-up.

# Delete (hide):
d = ":toggle-tag hidden"
S-d = ":search --tag hidden"
# C-d = ":search --not-tag hidden"

1 = "!read-1"
C-1 = "!archive-1"
S-1 = "!open-1"
2 = "!read-2"
C-2 = "!archive-2"
S-2 = "!open-2"
3 = "!read-3"
C-3 = "!archive-3"
S-3 = "!open-3"
4 = "!read-4"
C-4 = "!archive-4"
S-4 = "!open-4"

# Read the url.
[[read.commands]]
name = "read"
command = [
  "fish",
  "-c",
  """
  curl \
    --silent \
    -A "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36" \
    {{link.url}} \
  | pandoc \
    --from html \
    --to gfm-raw_html \
    -o - \
  | bat \
    --color=always \
    --language=markdown \
    --terminal-width={{terminal.width}} \
    -
  """
]

[[read.commands]]
name = "read-1"
command = ["fish", "-c", "curl --silent -A \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36\" {{link.url1}} | pandoc --from html --to gfm-raw_html -o - | bat --color=always --language=markdown --terminal-width={{terminal.width}} -"]
[[read.commands]]
name = "read-2"
command = ["fish", "-c", "curl --silent -A \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36\" {{link.url2}} | pandoc --from html --to gfm-raw_html -o - | bat --color=always --language=markdown --terminal-width={{terminal.width}} -"]
[[read.commands]]
name = "read-3"
command = ["fish", "-c", "curl --silent -A \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36\" {{link.url3}} | pandoc --from html --to gfm-raw_html -o - | bat --color=always --language=markdown --terminal-width={{terminal.width}} -"]
[[read.commands]]
name = "read-4"
command = ["fish", "-c", "curl --silent -A \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36\" {{link.url4}} | pandoc --from html --to gfm-raw_html -o - | bat --color=always --language=markdown --terminal-width={{terminal.width}} -"]

# Open the url.
[[read.commands]]
name = "open"
command = ["fish", "-c", "xdg-open \"{{link.url}}\""]
save = false

[[read.commands]]
name = "open-1"
command = ["fish", "-c", "xdg-open \"{{link.url1}}\""]
save = false
[[read.commands]]
name = "open-2"
command = ["fish", "-c", "xdg-open \"{{link.url2}}\""]
save = false
[[read.commands]]
name = "open-3"
command = ["fish", "-c", "xdg-open \"{{link.url3}}\""]
save = false
[[read.commands]]
name = "open-4"
command = ["fish", "-c", "xdg-open \"{{link.url4}}\""]
save = false

# Archive.
[[read.commands]]
name = "archive"
command = [
  "fish",
  "-c",
  """
    monolith \
      --no-js \
      --user-agent "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36" \
      --output ~/media/articles/unsorted/{{link.name-}}.html \
      "{{link.url}}" \
  """,
]

[[read.commands]]
name = "archive-1"
command = ["fish", "-c", """monolith --no-js --user-agent "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36" --output ~/media/articles/unsorted/{{link.name-}}.html "{link.url1}}"""",]
[[read.commands]]
name = "archive-2"
command = ["fish", "-c", """monolith --no-js --user-agent "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36" --output ~/media/articles/unsorted/{{link.name-}}.html "{{link.url2}}"""",]
[[read.commands]]
name = "archive-3"
command = ["fish", "-c", """monolith --no-js --user-agent "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36" --output ~/media/articles/unsorted/{{link.name-}}.html "{{link.url3}}"""",]
[[read.commands]]
name = "archive-4"
command = ["fish", "-c", """monolith --no-js --user-agent "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36" --output ~/media/articles/unsorted/{{link.name-}}.html "{{link.url4}}"""",]
