
@keyframes blink-warning {
    70% {
        color: @light;
    }

    to {
        color: @light;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: @light;
    }

    to {
        color: @light;
        background-color: @critical;
    }
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* Catppuccin Macchiato */
@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;

/* Color variables */
@define-color bg @base;
@define-color light @text;
@define-color disabled-text @surface1;
@define-color dark @mantle;
@define-color warning @yellow;
@define-color critical @red;
@define-color mode @teal;
@define-color workspaces @bg;
@define-color workspacesfocused @blue;
@define-color workspacesfocusedtext @base;

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: @bg;
    color: @light;
    font-family: "Hack", "Font Awesome 6 Free", "HackGen35 Console NFJ";
    font-size: 1rem;
    font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#tray,
#backlight {
    padding-left: 10px;
    padding-right: 10px;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode { /* Shown current Sway mode (resize etc.) */
	color: @light;
	background: @mode;
}

/* Workspaces stuff */

#workspaces {
    margin-right: 10px;
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding-left: 5px;
    padding-right: 5px;
    color: @disabled-text;
    background: @workspaces;
}

#workspaces button.urgent {
    border-color: @red;
    color: @red;
}

#workspaces button.current_output {
    color: @workspacesfocusedtext;
    background: @blue;
}

#workspaces button.focused {
    color: @workspacesfocusedtext;
    background: @green;
}

#window {
	margin-right: 40px;
	margin-left: 40px;
}

#network {
}

#custom-layout {
}

#battery {
}

#backlight {
}

#clock.date {
}

#clock.time {
}

#tray {
}

#pulseaudio {
}

#network {
}
