/* Waybar Styling */

/* Catppuccin Macchiato */
@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;

/* Color variables */
/* @define-color bg @crust; */
@define-color bg #11111b;
@define-color light @text;
@define-color disabled-text @overlay2;
@define-color dark @mantle;
@define-color warning @yellow;
@define-color critical @red;
@define-color mode @teal;
@define-color workspaces @surface0;
@define-color workspacesfocused @blue;
@define-color workspacesfocusedtext @base;

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* Blinking */
@keyframes blink-warning {
  70% {
    color: @light;
  }

  to {
    color: @light;
    background-color: @warning;
  }
}

@keyframes blink-critical {
  70% {
    color: @light;
  }

  to {
    color: @light;
    background-color: @critical;
  }
}

/* The whole bar */
#waybar {
  background: @bg;
  color: @light;
  font-family: "M PLUS 1", "Font Awesome 6 Free", "HackGen35 Console NFJ";
  font-size: 1rem;
  font-weight: bold;
  /* padding-bottom: 0.1em; */
  /* border-bottom: 2px solid; */
  /* border-color: @mantle; */
  /* padding: 1em; */
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#tray,
#backlight {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
  color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
  color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode {
  /* Shown current Sway mode (resize etc.) */
  color: @light;
  background: @mode;
}

/* Workspaces stuff */

#workspaces {
  margin-right: 10px;
  background: @workspaces;
  margin: 0.4em;
}

#workspaces button {
  all: unset;
  font-weight: bold;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  color: @disabled-text;
}

#workspaces button.urgent {
  border-color: @red;
  color: @red;
}

#workspaces button.current_output {
  color: @workspacesfocusedtext;
  background: @blue;
}

#workspaces button.focused {
  color: @workspacesfocusedtext;
  background: @green;
}

#workspaces button:hover {
  color: @text;
  background: @surface2;
  box-shadow: inherit;
  text-shadow: inherit;
  /* border-top: 0px solid white; */
  /* color: @workspacesfocusedtext; */
  /* background: @green; */
}

/* #window { */
/* margin-right: 40px; */
/* margin-left: 40px; */
/* } */

#clock {
  color: @crust;
  background: @green;
  margin: 0.4em;
  /* border-radius: 0.1em; */
}

#tray {
  background: @surface0;
  color: @crust;
  /* border-right: 1em solid; */
  /* border-left: 1em solid; */
  /* border-color: @surface0; */
  margin: 0.4em;
  margin-left: 0.8em;
  /* border-radius: 0.1em; */
}

#custom-launcher {
  color: @crust;
  background: @peach;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.4em;
  /* border-radius: 0.1em; */
}

.modules-right {
  /* background: @mauve; */
  /* color: @crust; */
  /* padding-left: 0.5em; */
  /* margin-top: 0.4em; */
  /* margin-bottom: 0.4em; */
}

.modules-center {
  /* background: @mauve; */
  /* color: @crust; */
  padding-top: 0em;
  padding-bottom: 0.1em;
}

#battery,
#network,
#idle_inhibitor,
#pulseaudio,
#custom-alsa,
#backlight {
  background: @pink;
  color: @crust;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
  padding-left: 0.5em;
}
