/* Waybar Styling */

@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

/* Color variables */
@define-color bg @crust;
@define-color light @text;
@define-color disabled-text @overlay2;
@define-color dark @mantle;
@define-color warning @yellow;
@define-color critical @red;
@define-color mode @teal;
@define-color workspaces @surface0;
@define-color workspacesfocused @blue;
@define-color workspacesfocusedtext @base;

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* Blinking */
@keyframes blink-warning {
  70% {
    color: @light;
  }

  to {
    color: @light;
    background-color: @warning;
  }
}

@keyframes blink-critical {
  70% {
    color: @light;
  }

  to {
    color: @light;
    background-color: @critical;
  }
}

/* The whole bar */
#waybar {
  background: @bg;
  color: @light;
  font-family: "M PLUS 1", "Font Awesome 6 Free", "HackGen35 Console NFJ";
  font-size: 1rem;
  font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#tray,
#backlight {
  /* padding-left: 0.5rem; */
  /* padding-right: 0.5rem; */
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
  color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
  color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode {
  /* Shown current Sway mode (resize etc.) */
  color: @light;
  background: @mode;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @text;
}

#workspaces button.active {
  color: @sky;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

/* Workspaces that are unused. */
#workspaces button.persistent {
  color: @disabled-text;
}

/* Workspaces that are urgent. */
#workspaces button.urgent {
  color: @red;
}

/* Workspaces focused on other monitor. */
#workspaces button.visible {
  color: @workspacesfocusedtext;
}

/* Workspaces unfocused on current monitor. */
#workspaces button.current_output {
  color: @text;
  border-radius: 1rem;
}

/* Workspaces focused on current monitor. */
#workspaces button.focused {
  color: @green;
}

#clock {
  color: @crust;
  background: @green;
  margin: 0.4em;
}

#tray {
  background: @surface0;
  color: @crust;
  border-right: 1em solid;
  border-left: 1em solid;
  border-color: @surface0;
  border-radius: 0.1em;
}

#custom-launcher {
  color: @crust;
  background: @peach;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.4em;
  border-radius: 0.1em;
}

.modules-right {
  /* padding-left: 0.5em; */
}

.modules-center {
}

#battery,
#network,
#idle_inhibitor,
#pulseaudio,
#custom-alsa,
#backlight {
  /* margin-bottom: 0.4em; */
  /* margin-top: 0.4em; */
  padding-left: 0.5em;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  /* padding: 0.5rem 1rem; */
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
  margin-left: 0rem;
  padding: 0.25rem 1rem;
  padding-left: 0.5rem;
  /* padding-top: auto; */
  /* padding-bottom: auto; */
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#tray {
  margin-right: 1rem;
  padding-left: 0rem;
  padding-right: 0rem;
  border-radius: 1rem;
}
