/* Waybar Styling */

@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

/* Color variables */
@define-color bg @crust;
@define-color light @text;
@define-color disabled-text @overlay2;
@define-color dark @mantle;
@define-color warning @yellow;
@define-color critical @red;
@define-color mode @teal;
@define-color workspaces @surface0;
@define-color workspacesfocused @blue;
@define-color workspacesfocusedtext @base;

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;

  /* Spacing variables */
}

/* Blinking */
@keyframes blink-warning {
  70% {
    color: @light;
  }

  to {
    color: @light;
    background-color: @warning;
  }
}

@keyframes blink-critical {
  70% {
    color: @light;
  }

  to {
    color: @light;
    background-color: @critical;
  }
}

/* The whole bar */
#waybar {
  background: @bg;
  color: @light;
  font-family: "M PLUS 1", "HackGen35 Console NFJ";
  font-size: 1rem;
  font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#tray,
#backlight {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
  color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
  color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode {
  /* Shown current Sway mode (resize etc.) */
  color: @light;
  background: @mode;
}

#workspaces {
  all: unset;
  border-radius: 5px;
  background-color: @base;
  margin: 5px;
  margin-right: 0px;
  /* padding-top: auto; */
  /* padding-bottom: auto; */
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#workspaces button {
  all: unset;
  color: @text;
  background: transparent;
  border: none;
  padding-left: 0.15em;
  padding-right: 0.15em;
}

#workspaces button.active {
  color: @sky;
}

/* Workspaces that are unused. */
#workspaces button.persistent {
  color: @disabled-text;
}

/* Workspaces that are urgent. */
#workspaces button.urgent {
  color: @red;
}

/* Workspaces focused on other monitor. */
#workspaces button.visible {
  color: @workspacesfocusedtext;
}

/* Workspaces unfocused on current monitor. */
#workspaces button.current_output {
  color: @text;
}

/* Workspaces focused on current monitor. */
#workspaces button.focused {
  color: @green;
}

#workspaces button:hover {
  color: @sapphire;
  box-shadow: inset 0px 4px 0px 0px @sapphire;
  text-shadow: 0px 1px 0px @sapphire;
}

#taskbar {
  all: unset;
  background-color: @base;
  border-radius: 5px;
  margin: 5px;
  margin-left: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#taskbar button {
  all: unset;
  color: @text;
  background: transparent;
  border: none;
  padding-left: 0.15em;
  padding-right: 0.15em;
  /* cursor: pointer; */
}

#taskbar button:hover {
  color: @sapphire;
  box-shadow: inset 0px 4px 0px 0px @sapphire;
  /* text-shadow: 0px 1px 0px @sapphire; */
}

#taskbar.empty {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

#tray {
  all: unset;
  background: @base;
  color: @crust;
  border-right: 5px solid;
  border-left: 5px solid;
  border-color: @base;
}

#tray button {
  all: unset;
  padding-left: 0.15em;
  padding-right: 0.15em;
}

#custom-launcher {
  font-family: "Font Awesome 7 Free", "M PLUS 1", "HackGen35 Console NFJ";
  /* color: @crust; */
  /* background: @peach; */
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.5em;
}

#custom-launcher:hover {
  color: @sapphire;
  text-shadow: 0px 1px 0px @sapphire;
}

#tray.empty {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.modules-right {
  /* padding-left: 0.5em; */
}

.modules-center {
}

#battery,
#network,
#idle_inhibitor,
#pulseaudio,
#custom-alsa,
#backlight {
  /* margin-bottom: 0.4em; */
  /* margin-top: 0.4em; */
  padding-left: 0.5em;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @base;
  /* padding: 0.5em 1em; */
  margin: 5px 0;
}

#clock {
  color: @green;
  border-radius: 0px 5px 5px 0px;
  margin-right: 0.5em;
  margin-left: 0em;
  padding: 0.25em 0.5em;
  padding-left: 0.5em;
  /* padding-top: auto; */
  /* padding-bottom: auto; */
}

#battery {
  font-family: "Font Awesome 7 Free", "M PLUS 1", "HackGen35 Console NFJ";
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#battery.disabled {
  /* max-width: 0px; */
  /* display: hidden; */
}

#backlight.disabled {
  /* max-width: 0px; */
  /* display: hidden; */
}

#backlight {
  font-family: "Font Awesome 7 Free", "M PLUS 1", "HackGen35 Console NFJ";
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  font-family: "Font Awesome 7 Free", "M PLUS 1", "HackGen35 Console NFJ";
  /* color: @red; */
  border-radius: 5px 0px 0px 5px;
  margin-left: 0.5em;
  padding-left: 0.5em;
}

#mpd {
  /* color: @mauve; */
  font-family: "Font Awesome 7 Free", "M PLUS 1", "HackGen35 Console NFJ";
  border-radius: 5px 0px 0px 5px;
  margin-left: 0.5em;
  margin-right: 1em;
  padding-left: 0.5em;
}

#custom-music {
  color: @mauve;
  border-radius: 5px;
}

#custom-lock {
  border-radius: 5px 0px 0px 5px;
  color: @lavender;
}

#custom-power {
  margin-right: 0.5em;
  border-radius: 0px 5px 5px 0px;
  color: @red;
}

#tray {
  margin-right: 0.5em;
  padding-left: 0em;
  padding-right: 0em;
  border-radius: 5px;
}
